// Overwrite Bulma Colors

// $white: hsl(0, 0%, 100%);
// $black: hsl(0, 0%, 4%);
// $light: #9E90A2;
// $dark: #272932;
$primary: #158cba;
$link: #5bb7db;
$info: #209cee;
$success: #28b62c;
$warning: #ffdd57;
$danger: #ff4136;
