// Variables
@import "colors";

// Bulma
@import "node_modules/bulma/bulma";

// Components
@import "file-input";
@import "side-menu";

.vulmadmin-page-content {
    padding: 20px;
    background-color: $light;
    min-height: 100vh;
    .card {
        margin-bottom: 20px;
        header.card-header {
            background-color: $light;
        }
        footer.card-footer {
            background-color: $light;
            .card-footer-item {
                justify-content: flex-start;
                text-align: left;
            }
        }
    }
}
